# Laravel
/vendor/
/node_modules/
/.env
/.env.*
/storage/*.key
/public/storage/*
!/public/storage/products/
!/public/storage/products/**
/storage/app/public
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Composer & NPM logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
/vendor-bin/**/vendor/
/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage/*
!/public/storage/products/
!/public/storage/products/**
/storage/*.key
/vendor
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
